<h3 class="gamename"></h3>
<div class="game white z-depth-3 valign-wrapper" style="height:625px;width:760px;border-radius:20px">
  <div class="center-block divwrapper" style="width:90%;height:90%">
    <object id="flashGameSwfO" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="100%" height="100%">
      <param name="movie" class="srcchange">
      <param name="allowNetworking" value="all">
      <object type="application/x-shockwave-flash" allownetworking="all" class="srcchange" width="100%"
              height="100%"></object>
    </object>
  </div>
</div>
