<h2 class="center-align">Welcome to Nola1222Games</h2>
<hr>
<br><br>
<div class="input-field col s6">
  <label>Search through our games</label>
  <input class="validate"
         name="gameinput"
         materialize="autocomplete"
         [materializeParams]="[{ data: this.gamesService.getGameNames(),
            limit: 10,
            onAutoComplete: (val) => this.applySearch(val),
            minLength: 2 }]"
         (keyup.enter)="applySearch($event)"
         type="text">
</div>
<p>{{this.value}}</p>
